*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.jss{
    width: 10rem;
}
.lcc{
    width: 6rem;
}
.collegeName{
    font-size: 2rem;
    font-weight: 400;
    
}
.clubName{
    font-size: 1.8rem;
    font-weight: 650;
}
.naac{
    font-size: 2.2rem;
    font-weight: 800;
    font-family: cursive;
}

.Criteria2,.Criteria3,.Criteria4,.Criteria5,.Criteria6,.Criteria7{
    height: auto;
    display: none;
}
thead{
    font-size: 1.3rem;
    font-weight: 700;
}
tbody{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn{
    font-size: 18px;
    font-weight: 500;
}

.result{
    display: none;
}

footer p{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}